[user]
	name = k
	email = wer@w.pl
[color]
	ui = true
[alias]
	# STATUS AND LOG
	st = status --short
	lg = log --oneline --decorate --graph
	lgl = log --oneline --decorate --graph --stat
	cm = commit -m 
	difl = diff HEAD^
	d = diff
	ad = add .
	pom = push origin master
	# BRANCH
	br = branch
	brd = branch -D 
	# CHECKOUT 
	ch = checkout